.wrapper {
    .content {
        .title {
            padding: 1rem 30px;
            color: var(--primary-orange);
        }
        .table {
            padding: 20px;
        }
    }
}
@media screen and (max-width: 600px) {
    .wrapper {
        background-color: var(--background-color-light);
        .content {
            .title {
                padding: 0.6rem 0;
            }
            .table {
                padding: 0px;
            }
        }
    }
}