.infoCard {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.card {
    position: relative;
    overflow: hidden;
  }
  
  .card img {
    transition: transform 0.4s ease;
    object-fit: fill;

  }
  
  .card:hover img {
    transform: scale(1.02);
  }

.wrapper {
    min-width: 15rem;
}
.shortDescription{
      // color: var(--primary-color);
      line-height: normal;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 2;
}
.image{
    width: 100%;
}