 .btnAdd {
    height: 3.5rem;
    .innerAdd {
        color: #3761bf;
        font-size: var(--primary-font-size);
        font-weight: var(--font-big);
        padding: 0 1.5rem;
    }
}
.body{
    padding: 0;
}
.wrapper{
   padding: 20px;
   padding-top: 10px;
    .title{
        display: block;
        font-size: var(--primary-font-size);
        font-weight: 600;
        text-align: center;
        margin-bottom: 1rem;
    }
    .content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 40px;
     
        .item{
            padding: 8px 0;
            border-bottom: 1px solid #ddd;
            &:hover{
                background-color: #e9f4fb;
                cursor: pointer;
            }
        }
    }
    .activeItem{
        background-color: #e9f4fb;
    }
}
.header{
    background-color: var(--primary-color);
    padding: 10px ;
    display: flex;
    justify-content: space-between;
    .headerTitle{
        font-size: var(--small-font-size);
        color: #fff;
    }
} 

@media screen and (max-width:600px){
    .btnAdd {
        height: 36px;
        .innerAdd {
            color: #3761bf;
            font-size: 14px;
            font-weight: var(--font-big);
            padding: 0 ;
        }
    }
}

