
.wrapper {
    height: var(--header-height-mobile);
    padding: 0 1rem;
    gap: 10px;
    background-color: var(--white-bg);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: var(--box-shadow-primary);
   
    .searchForm{
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 4px 0;
    }
    .headerNav{ 
        font-size: 14px;
        overflow-x: auto;
        padding-bottom: 4px;
    }
    .headerNav::-webkit-scrollbar {
        display: none;
    }
    
    .cart,
    .menu {
        width: 22px;
        flex-shrink: 0;
        cursor: pointer;
        img {
            width: 22px;
        }
    }
    .logo {
        display: block;
        width: 42px;
        flex-shrink: 0;
        img {
            object-fit: fill;
        }
    }
    
}

