.container{
    background-color: #fff;
}
.wrapper {
    min-height: 60vh;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 5px;
    .title h3 {
        font-size: 14px;
        font-weight: 600;
    }
}

.infoCustomer {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.titleThanks {
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    font-weight: 400;
}
.infoGara{
    display: flex;
    justify-content: space-between;
}
.infoWifi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// @media print {
//     @page {
//       size: 80mm auto !important;
//     }
//     @page :right {
//         margin:2mm;
//     }
// }
