.wrapper {
    min-height: 60vh;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-bottom: 20px;
    .title {
        font-size: 24px;
        font-weight: 700;
        margin-top: 20px;
    }
}

.infoCustomer {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.titleThanks {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
.infoGara{
    display: flex;
    gap: 10px;
}
.infoWifi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media print {
    @page {
      size: 80mm 180mm;
    }
    @page :right {
        margin:2mm;
    }
}
