.listOrder{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nodata{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-background);
    padding-top: 60px;
    p{
        color: var(--title-color);
    }
}