.wrapper {
    box-shadow: var(--box-shadow);
    background-color: var(--white-background);
    .title {
        padding: 1rem 30px;
        color: var(--primary-orange);
    }
    .content {
        padding: 20px;
    }
}
.headerTitle{
    border-bottom: 1px solid #eeeeee;
}

@media screen and (max-width: 600px) {
    .headerTitle {
        display: none;
    }
    .wrapper {
        .title {
            padding: 0.6rem 0;
            color: var(--primary-orange);
        }
        .content {
            padding: 0;
        }
    }
}

.inputDashboard{
    border: none;
    border-radius: 10px;
}